* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0b122a;
    color: white;
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background: rgba(10, 15, 40, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #00e6b8;
}

.navbar ul {
    display: flex;
    gap: 30px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #00e6b8;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 140px 80px 80px;
}

.hero-text h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero-text span {
    color: #00e6b8;
}

.hero-text p {
    font-size: 18px;
    opacity: 0.8;
}

.hero-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 26px;
    background: #00e6b8;
    color: #000;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.hero-btn:hover {
    background: white;
}

.hero-img img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 4px solid #00e6b8;
    object-fit: cover;
    box-shadow: 0 0 25px #00e6b8;
}

/* SECTION HEADERS */
section h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 32px;
    color: #00e6b8;
}

/* ABOUT */
.about-section {
    padding: 50px 80px;
    text-align: center;
    opacity: 0.9;
    font-size: 18px;
}

/* SKILLS */
.skills-section {
    padding: 50px 80px;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.skill-card {
    background: #111a40;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid #00e6b8;
    transition: 0.3s;
}

.skill-card:hover {
    background: #00e6b8;
    color: #000;
    transform: translateY(-5px);
}

/* CONTACT */
.contact-section {
    padding: 50px 80px;
    text-align: center;
}

.contact-links a {
    color: #00e6b8;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    transition: 0.3s;
}

.contact-links a:hover {
    color: white;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px 0;
    background: #0d1636;
    margin-top: 20px;
    font-size: 15px;
    opacity: 0.7;
}